<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Matchmaker</title>
		<link rel = "stylesheet" type = "text/css" href= "{{ url_for('static',filename='main.css') }}" />		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	</head>
	<body>
		<div class = form>
			<form action="/create_profile" method="post">
				<p id = "question">Profile Picture</p>
				<input type="file" name="pic" id = pic accept="image/*">
				<img id="image_upload_preview" src="http://placehold.it/100x100" alt="your image" />
				<script>
					function readURL(input) {
						console.log(input);
				        if (input.files && input.files[0]) {
				            var reader = new FileReader();

				            reader.onload = function (e) {
				                $('#image_upload_preview').attr('src', e.target.result);
				            }

				            reader.readAsDataURL(input.files[0]);
				        }
				    }

				    $("#pic").change(function () {
				        readURL(this);
				    });
				</script>
				<p id = "question">Username</p>
				<input type = "text" name = "username" required />
				<p id = "question">Name</p>
				<input type = "text" name = "name" required />
				<p id = "question">Phone Number</p>
				<input type = "text" name = "phone_number" required />
				<p id = "question">Age</p>
				<input type = "number" name = "age" required />
				<p id = "question">School</p>
				<input type = "text" name = "school" required />
				<p id = "question">Hobbies (separate by commas)</p>
				<input type = "text" name = "hobbies" required />
				<p id = "question">Favorite Animals (separate by commas)</p>
				<input type = "text" name = "animals" required />
				<p id = "question">Favorite Foods (separate by commas)</p>
				<input type = "text" name = "foods" required />
				<div class = submit_container>
					<button type="submit" id="form_button">Submit</button>
				</div>
			</form>
		</div>
	</body>

</html>