<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Matchmaker</title>
		<link rel = "stylesheet" type = "text/css" href = "assets/main.css"> 
	</head>
	<body>
		<div class = form>
			<form action="/create_profile" method="post">
				<p id = "question">Profile Picture</p>
				<input type="file" name="pic" accept="image/*">
				<img id="image" />
				<p id = "question">Name</p>
				<input type = "text" name = "name" required />
				<p id = "question">Phone Number</p>
				<input type = "text" name = "phone" required />
				<p id = "question">Age</p>
				<input type = "number" name = "age" required />
				<p id = "question">School</p>
				<input type = "text" name = "school" required />
				<p id = "question">Hobbies (separate by commas)</p>
				<input type = "text" name = "hobbies" required />
				<p id = "question">Favorite Animals (separate by commas)</p>
				<input type = "text" name = "animals" required />
				<p id = "question">Favorite Foods (separate by commas)</p>
				<input type = "text" name = "food" required />
				<div class = submit_container>
					<button type="submit" id="form_button">Submit</button>
				</div>
			</form>
		</div>
	</body>

</html>