<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Matchmaker</title>
		<link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='favicon.png') }}" />
		<!--<link rel = "stylesheet" type = "text/css" href= "{{ url_for('static',filename='main.css') }}" />-->
		<link rel = "stylesheet" type = "text/css" href= "../static/main.css" />
	</head>
	<body>
		<div class = "match">
			<h1 id = "title">You matched with...</h1>
			<img id = "match_pp" src = {{pic}}/>
			<p>Name: <br> {{name}}</p>			
			<p>Age: <br> {{age}}</p>
			<p>School: <br> {{school}}</p>
			<p>Hobbies: <br> {{hobbies}}</p>
			<p>Favorite Animals: <br> {{animals}}</p>
			<p>Favorite Foods: <br> {{foods}}</p>
			<div class = "match_button_container">
				<button type="button" id="form_button">Contact Your Match</button>
			</div>
		</div>
	</body>

</html>